html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mainContainer {
    height: 90vh;
    display: flex;
    flex-direction: row;
    width: 100vw;
    border-top: 1px solid var(--color-primary);
}

#leftContainer {
    height: 100vh;
    width: 15%;
    border-right: 2px solid var(--color-primary);
}

@media only screen and (min-height: 100vh){
    #leftContainer{
        height: 150vh;
    }
}

@media only screen and (min-height: 120vh){
    #leftContainer{
        height: 200vh;
    }
}

@media only screen and (min-height: 150vh){
    #leftContainer{
        height: 250vh;
    }
}

@media only screen and (min-height: 200vh){
    #leftContainer{
        height: 300vh;
    }
}

#rightContainer {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 85%;
    text-align: center;
}

#divAreaAccount, #divPrenotazioni {
    height: 10%;
    text-align: center;
    align-content: center;
    border-bottom: 1px solid var(--color-primary);
}

#linkAreaAccount, #linkPrenotazioni {
    text-decoration: none;
    color: black;
}

#linkAreaAccount:hover, #linkPrenotazioni:hover {
    color: var(--color-primary);
}

#topContainer {
    align-content: center;
    text-align: center;
    height: 15%;
}


#parAreaUtente {
    color: var(--color-primary);
}

#midContainer {
    align-content: center;
    text-align: center;
    height: 80%;
}

#divDatiUtente {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    margin: auto;
    border: 1px solid var(--color-primary);
    border-radius: 25px;
}

.divDati {
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-primary);
}

#bottomContainer {
    height: 10%;
    text-align: right;
    padding-right: 50px;
}

#linkModificaDati {
    color: var(--color-primary);
    text-decoration: underline;
}

.parDati {
    width: 100%;
    align-content: center;
    /*padding-left: 40px;
    padding-right: 40px;*/
}

#ultimo {
    border-bottom: none;
}

.primaRiga {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
}

.divPrenotazione {
    /*margin: 30px;*/
    margin-top: 5%;
    /*row-gap: 20px;
    display: flex;
    flex-direction: row;*/
    width: 60%;
    height: 20%;
    border: 1px solid var(--color-primary);
    border-radius: 25px;
}

#prContainer {
    row-gap: 40px;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.divInfoPrenotazione {
    /*padding-left: 25px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 60%;
}

.divImg {
    border-left: 1px solid var(--color-primary);
    height: 100%;
    width: 20%;
}

.parDatiPr {
    margin: auto 0 auto 25px;
}

.divButtons {
    /*margin-top: 5%;*/
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
}


.imgStruttura {
    height: 100%;
    width: 100%;
}

#formModificaPrenotazione {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    border: 1px solid var(--color-primary);
    z-index: 999;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.divModPrenotazione {
    margin: 2px;
}

input {
    width: 60%;
}

@media only screen and (max-width: 1200px) {
    .buttons {
        width: 100px !important;
    }
}

@media only screen and(max-width: 850px) {
    .divButtons {
        margin-top: 7.5%;
    }
}

@media only screen and (max-width: 1000px) {
    #divDatiUtente {
        width: 50% !important;
    }

    /*.divImg {
        margin-left: 40%;
        justify-content: end;
        align-items: center;
        display: flex;
        height: 7%;
        width: 30%;
        border-left: none;
        position: absolute;
    }

    .imgStruttura {
        height: 100%;
        width: 20%;
    }

    .divPrenotazione {
        flex-direction: column;
    }

    .divButtons {
        width: 100%;
        border-left: none;
        flex-direction: row;
    }*/

    .buttons {
        width: 80px !important;
    }
}

@media only screen and (max-width: 700px){
    #divDatiUtente {
        width: 70% !important;
    }

    .buttons {
        width: 60px !important;
    }
}

@media only screen and (max-width: 400px){
    #divDatiUtente {
        width: 80% !important;
    }

    .buttons {
        width: 40px !important;
    }
}