html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mainContainer {
    height: 90vh;
    display: flex;
    flex-direction: row;
    width: 100vw;
    border-top: 1px solid var(--color-primary);
}

#leftContainer {
    height: inherit;
    width: 15%;
    border-right: 2px solid var(--color-primary);
}

#rightContainer {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 85%;
    text-align: center;
}

#divAreaAccount, #divPrenotazioni {
    height: 10%;
    text-align: center;
    align-content: center;
    border-bottom: 1px solid var(--color-primary);
}

#linkAreaAccount, #linkPrenotazioni {
    text-decoration: none;
    color: black;
}

#linkAreaAccount:hover, #linkPrenotazioni:hover {
    color: var(--color-primary);
}

#topContainer {
    align-content: center;
    text-align: center;
    height: 15%;
}


#parAreaUtente {
    color: var(--color-primary);
}

#midContainer {
    align-content: center;
    text-align: center;
    height: 80%;
}

#divDatiUtente {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80%;
    margin: auto;
    border: 1px solid var(--color-primary);
    border-radius: 25px;
}

.divDati {
    height: 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-primary);
}

#bottomContainer {
    height: 10%;
    text-align: right;
    padding-right: 50px;
}

#linkModificaDati {
    color: var(--color-primary);
    text-decoration: underline;
}

.parDati {
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

#ultimo {
    border-bottom: none;
}

.divPrenotazione {
    margin: 30px;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 20%;
    border: 1px solid var(--color-primary);
    border-radius: 25px;
}

#prContainer {
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.divInfoPrenotazione {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 60%;
}

.divImg {
    border-left: 1px solid var(--color-primary);
    height: 100%;
    width: 20%;
}

.parDatiPr {
    margin: auto 0 auto 25px;
}

.divButtons {
    border-left: 1px solid var(--color-primary);
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.buttons {
    margin: auto;
    border: 1px solid black;
    height : 20px;
    width : 120px;
    border-radius: 20px;
    background-color: var(--color-primary);
    color : white;
    font-weight: 700;
}


.imgStruttura {
    height: 100%;
    width: 100%;
}

#formModificaPrenotazione {
    display: flex;
    flex-direction: column;
}

.divModPrenotazione {
    margin: 2px;
}

input {
    width: 60%;
}