header {
    top: 0; /* tutto in alto a sinistra */
    left: 0;
    background-color: var(--rosa-bianchissimo);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    position: relative; /* posizione fissa nella finistre, rimane attaccato lì */
    z-index: 999;
}

.buttonHeader {
    column-gap: 20px;
    /* row-gap: 20px; */
    width: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}

header .logo {
    font-style: italic /* corsivo */
}

.rigaHeader {
    position: absolute;
    width: 93%;
    border: 1px solid var(--color-primary);
    height: 2px; /* Spessore della linea */
    background-color: #b8860b; /* Colore gold scuro */
    margin-top: 15vh;
}

header .logo a{
    text-decoration: none;
    color : var(--color-primary);
}

/* parte con img */

#divImg {
    text-align: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

#container {
    position: relative;
}

.dropdown {
    display: none; /* Nasconde il div a tendina di default */
    background-color: white;
    position: absolute;
    top: 100%; /* Posiziona il dropdown subito sotto il divImg */
    right: 0;
    width: 150%;
    z-index: 1000;
    border: 1px solid;
    text-align: center;
}

#container:hover .dropdown {
    display: block; /* Mostra il div quando il cursore è sopra il container */
}

#linkLogout, #linkAreaUtente {
    text-decoration: none;
    color: black;
}

.dropdownElem {
    padding: 10px;
    width: 100%;
    height: 50%;
}

.dropdownElem:hover {
    background-color: lightgray;
}

