body, html {
    background-color: beige;
    margin: 0;
    padding: 0;
}

#topContainer {
    background-color: white;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
}

.descrizioneIndex {
    margin-left: 2%;
    align-content: center;
    height: 100%;
    width: 35%;
    font-style: italic;
}

.mediaDescrizione {
    text-align: center;
}

.piccolaDescrizione {
    margin-top: 5%;
    text-align: center;
}

#divRegStruttura, #divReg, #divAccedi {
    text-align: center;
    align-content: center;
}

#divLogo {
    text-align: left;
    align-content: center;
    height: 100%;
    width: 60%;
}

#divRegStruttura {
    height: 100%;
    width: 20%;
}

#divReg, #divAccedi {
    height: 100%;
    width: 10%;
}

#parLogo {
    color: var(--color-primary);
    padding-left: 20px;
    font-style: italic;
}

#linkRegStruttura {
    font-style: italic;
    color: var(--color-primary);
    text-decoration: underline;
}

#linkReg, #linkAccedi {
    height : 30px;
    width : 120px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color : white;
    font-weight: 700;
    text-decoration: none;
}

#midContainer {
    font-style: italic;
    margin-top: 3%;
    align-content: center;
    width: 100%;
    height: 15vh;
}

input {
    text-align: center;
    font-size: small !important;
}

#containerFiltri {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 90%;
    width: 85%;
    background-color: var(--color-primary);
    border: 1px solid;
    border-radius: 15px;
}

#bottomContainer {
    border-left: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
    background-color: white;
    margin: auto;
    align-items: center;
    width: 85%;
    height: 75vh;
    display: flex;
    flex-direction: row;
}

#bottomContainerConferma{
    text-align: center;
}

.imgHome {
    border: 1px solid black;
    margin: auto;
    height: 85%;
    width: 40%;
    border-radius: 15px;
}

#divFiltroLuogo, #divFiltroDate {
    text-align: center;
    align-content: center;
    height: 60%;
    width: 22.5%;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
}

#divSceltaLogin {
    position: fixed;
    height: 15%;
    width: 40%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--color-primary);
    border-radius: 25px;
}

#divSceltaLogin p{
    margin-right: auto;
    margin-left: auto;
}

#formSceltaLogin {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 90%;
}

.divSceltaLogin {
    align-items: center;
    justify-content: space-between;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 20%;
}

#divFiltroDate {
    width: 25%;
}

#divFiltroLuogo {
    width: 20%;
}

#divFiltroOspiti {
    text-align: center;
    align-content: center;
    height: 60%;
    width: 20%;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    /*margin: auto 10px auto auto;*/
    margin : 0 auto;
}

#divCerca {
    align-content: center;
    text-align: center;
    height: 60%;
    width: 10%;
    background-color: #2C2C2C;
    border-radius: 5px;
    margin: auto auto auto 10px;
}

#buttonCerca {
    width: 100% !important;
    border: none;
    background-color: #2C2C2C;
    color: white;
}

#divFiltroDate {
    display: flex;
    flex-direction: row;
}

#divCheckIn {
    border-right: 1px solid lightgray;
}

#divCheckIn, #divCheckOut {
    height: 100%;
    width: 50%;
    text-align: center;
    align-content: center;
}

.imgIndex {
    display: flex;
    height: 100%;
    width: 65%;
}

a.logoHref {text-decoration: none; color: var(--color-primary);}
p {overflow-wrap : normal;}

@media only screen and (max-width: 850px) {
    .imgIndex {
        display: flex;
        height: 100%;
        width: 80%;
    }

    #bottomContainer {
        border-left: 1px solid var(--color-primary);
        border-right: 1px solid var(--color-primary);
        background-color: white;
        margin: auto;
        align-items: center;
        width: 85%;
        height: 75vh;
        display: flex;
        flex-direction: column;
    }

    .descrizioneIndex {
        margin-left: 2%;
        align-content: center;
        height: 65%;
        width: 70%;
        font-style: italic;
    }
}

@media only screen and (max-width: 400px) {
    .imgIndex {
        display: flex;
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 1250px) {
    #linkReg, #linkAccedi {
        height: 30px;
        width: 110px;
    }
}

@media only screen and (max-width: 1125px) {
    #linkReg, #linkAccedi { width: 100px !important; font-size: 11px !important;}
}

@media only screen and (max-width: 1000px) {
    #linkReg, #linkAccedi { width: 80px !important; font-size: 11px !important;}
}

@media only screen and (max-width: 875px) {
    #linkReg, #linkAccedi { width: 65px !important; font-size: 10px !important;}
}

@media only screen and (max-width: 750px) {
    #linkReg, #linkAccedi { width: 60px !important; font-size: 10px !important;}
}

@media only screen and (max-width: 650px) {
    #linkReg, #linkAccedi { width: 50px !important; font-size: 9px !important;}
}

@media only screen and (max-width: 570px) {
    #linkReg, #linkAccedi {
        width: 40px !important;
        height: 15px !important;
        font-size: 8px !important;
    }
}

@media only screen and (max-width: 475px) {
    #linkReg, #linkAccedi {
        width: 30px !important;
        height: 15px !important;
        font-size: 6px !important;
    }
}

@media only screen and (max-width: 380px) {
    #linkReg, #linkAccedi {
        width: 20px !important;
        height: 15px !important;
        font-size: 6px !important;
    }
}