body {
    margin: 0 !important;
    padding: 0;
}

#mainContainer {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-image: url("../img/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#divModificaDati {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    width: 30%;
    height: 80%;
    border: 1px solid black;
    border-radius: 25px;
    margin: auto;
}

/*#emailLabel, #pwdLabel, #vecchiaPasswordLabel, #nuovaPasswordLabel, #confermaPasswordLabel, #nomeLabel, #cognomeLabel, #cittaLabel, #numCivicoLabel, #viaLabel, #dataNascitaLabel, #recapitoTelefonicoLabel, #parModificaDati {
    font-weight: bold;
    font-size: 16pt;
}*/

/*#email, #vecchiaPassword, #nuovaPassword, #confermaPassword, #nome, #cognome, #citta, #numCivico, #via, #dataNascita, #recapitoTelefonico {
    text-align: center;
    width: 150px;
    height: 35px;
}*/

#submitButtom {
    width: 150px;
    height: 35px;
    background-color: darkgoldenrod;
    font-weight: bold;
    color: white;
    font-size: 16pt;
    border-radius: 5px;
    margin-top: 10px;
}

#parErrore {
    color: red;
    font-weight: bold;
    text-align: center;
}

/*.buttonModifica {
    height: 20%;
}*/

#divForm {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

form{
    align-content: center;
    height: 100%;
}

label{
    width: 50%;
}

input{
    height: 30px;
    text-align: center;
    width: 49%;
    margin-right: 1%;
}

.formElements {
    width: 100%;
    /*margin: 10px auto 10px auto;*/
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

#parModificaDati, #formModificaDati {
    text-align: center;
}

#parModificaDati {
    margin-top: 3%;
}

@media only screen and (max-width: 950px){
    #divModificaDati {
        width: 40%;
    }
}

@media only screen and (max-width: 700px){
    #divModificaDati {
        width: 50%;
    }
}

@media only screen and (max-width: 600px){
    #divModificaDati {
        width: 60%;
    }
}

@media only screen and (max-width: 400px){
    #divModificaDati {
        width: 80%;
    }
}

@media only screen and (max-width: 350px){
    #divModificaDati {
        width: 85%;
    }
}