
/* utilizzato solamente da prenotazioniStrutturaGUI.jsp */

body {
    margin-top: 20vh;
    background-color: var(--rosa-bianchissimo);
}

/* contiene il nome della struttura */
.title {
    text-align: center;
    margin-bottom: 2%;
    width : 90%;
    margin-left: 3%;
}

/* nomi dei campi */
.nomiCampi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width : 90%;
    margin-left: 3%;
    height : 10%;
}

/* riga di una prenotazione coi valori */
.rigaPrenotazione {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 3%;
    width : 90%;
    background-color: white;
    height : 10%;
}

/* singolo campo */
.campo {
    font-style: italic;
    /*font-family: cursive;*/
    width : 20%;
    text-align: center;
}

/* singolo valore all'interno di una riga */
.valore {
    width : 20%;
    text-align: center;
}

/* linea che separa 2 prenotazioni differenti */
.prenotazione {
    margin-bottom: 1%;
    margin-left: 3%;
    position: absolute;
    width: 90%;
    border: 1px solid var(--color-primary);
    height: 1px; /* Spessore della linea */
    background-color: #b8860b; /* Colore gold scuro */
}