/* utilizzato da : riepilogoStruttureGUI.jsp, VisAlloggiStruttureGUI.jsp e RecensioniStrutturaGUI,jsp */


/* --------------  riepilogoStruttureGUI.jsp */

/* scritta AREA HOST */
#areaHost{
    width : 93%;
    text-align: center;
    margin-top: 5vh;
    color : var(--color-primary);
}

img {
    border-radius: 20px;
    margin: 10%;
    width: 80%; /* L'immagine si adatta alla larghezza del div */
    height: 80%; /* L'immagine si adatta all'altezza del div */
    object-fit: cover; /* Fa in modo che l'immagine riempia il div, mantenendo il suo rapporto di aspetto e tagliando le parti in eccesso se necessario */
}

body {
    background-color: var(--rosa-bianchissimo);
}

/* prima sezione utilizzata da più pagine */
.sezione-aggiungi {
    align-items: center;
    width : 93%;
    margin: 2% 3% 2% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* modifica ed elimina button */
.buttonRigaStruttura {
    row-gap: 20px;
    align-items: center;
    /*height: 200px;*/
    flex-direction: column;
    margin-left: 91%;
    position: absolute;
    display: flex;
    justify-content: center;
}

/* container utilizzato in più pagine */
.containerRigaStruttura {
    flex-direction: row;
    align-items: center;
    display: flex;
}

/* riga che contiene una struttura oppure un alloggio */
.rigaStruttura{
    background-color: white;
    border-radius : 20px;
    border : 1px solid var(--color-primary);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 93%;
    height: 200px;
}

.rigaStruttura #areaAdminRiga{
    background-color: var(--rosa-bianchissimo);
    border: none;
}

/* nome della struttura nella rigaStruttura */
.title {
    margin-top: 1%;
    font-family: cursive;
}

/* container che contiene la rigaStruttura e i button */
.container {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}

/* contiene gli elementi che compongono la riga di una struttura */
.elementiStruttura{
    height : 100%;
    width: 80%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

/* elemento numero alloggi */
.numAlloggi {
    margin-top: 1%;
    font-style: italic;
}

/* dove si trova l'immagine della struttura */
.immagine {
    justify-content: center;
    margin-left: 100%;
    position: absolute;
    display: flex;
    height: 100%;
    width: 20%;
}

/* descrizione solo della struttura */
.descrizione {
    text-align: center;
    align-items: center;
    height: 75%;
    justify-content: center;
    width: 80%;
    display: flex;
}

/* -------------- VisAlloggiStruttureGUI.jsp */

/* alcune differenze rispetto alla riga di una struttura */
.rigaStruttura #rigaAlloggio{
    flex-direction: row;
    justify-content: space-between;
}

/* la riga di un alloggio è divisa in 3 colonne */

/* nome dell'alloggio con tipo alloggio e numero di posti letto */
.primaColonna{
    flex-direction: column;
    text-align: center;
    display: flex;
    margin: 2%;
    width: 25%;
}

/* prezzo notte e descrizione */
.secondaColonna {
    margin : 2%;
    text-align: center;
    /* justify-content: center; */
    width: 50%;
    flex-direction: column;
    display: flex;
}

/* dove ci sono i button */
.terzaColonna {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 2%;
    width: 25%;
}

.terzaColonna .button {
    flex-direction: column;
    display: flex;
    row-gap: 30px;
}

.descrizioneAlloggio {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

.prezzoNotte {
    align-content: center;
    height : 20%;
    font-style: italic;
}

.tipoPostiLetto {
    font-style: italic;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

/* nome della struttura in VisAllogi */
#sezioneAlloggio {
    width : 75%;
    /*text-transform: uppercase;*/
}

/* contenitore che contiene i 3 button nella pagina VisAlloggi (visualizza pren., agg. all. e vis. pren.) */
.button-sezione-aggiungi {
    display : flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.nomeAlloggio {
    align-content: center;
    height : 20%;
    font-family: cursive;
}

/* --------------- RecensioniStrutturaGUI.jsp */

#mediaRecensioni {
    text-align: center;
    width: 17%;
}

.mediaRecensioni {
    color : var(--color-primary);
}

#rigaRecensioni {
    flex-direction: column;
}

.titoliRecensione {
    align-items: center;
    text-align: center;
    height: 25%;
    width: 100%;
    flex-direction: row;
    display: flex;
}

.colonnaNormale {
    width : 16%;
    text-align: center;
}

.colonnaDescrizione {
    width: 36%;
    text-align: center;
}

.valoreNormale {
    width : 16%;
    text-align: center;
}

.valoreDescrizione {
    width : 36%;
    text-align: center;
}

.valoriRecensione {
    align-items: center;
    height: 75%;
    width: 100%;
    flex-direction: row;
    display: flex;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1700px) {

    /* button andranno sotto la riga e non a destra */

    #containerStrutture {
        row-gap: 80px;
    }

    #containerAlloggi {
        row-gap: 40px;
    }

    #containerRecensioni {
        row-gap: 40px;
    }

    .buttonRigaStruttura {
        column-gap: 20px;
        margin-top: 250px;
        margin-left: 0;
        width: 90%;
        flex-direction: row;

    }
}

@media only screen and (max-width: 1350px) {

    /* button andranno sotto la riga e non a destra */

    #containerStrutture {
        row-gap: 80px;
    }

    #containerAlloggi {
        row-gap: 40px;
    }

    #containerRecensioni {
        row-gap: 40px;
    }

    .buttonRigaStruttura {
        column-gap: 20px;
        margin-top: 250px;
        margin-left: 0;
        width: 90%;
        flex-direction: row;

    }
}

@media only screen and (max-width: 900px) {
    .sezione-aggiungi {
        margin-top: 5% !important;
    }
}

/* visAlloggi i 3 bottoni vanno sotto */
@media only screen and (max-width: 750px) {
    #sezione-aggiungi-alloggi {
        row-gap : 20px;
        align-items: center;
        width : 90%;
        margin : 2% 3% 4% 2%;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }

    #sezioneAlloggio{
        text-align: center;
        width : 100%;
    }
}

@media only screen and (max-width: 670px) {
    #riepStrutture {
        width: 70%;
    }

    .immagine {
        width: 30%;
    }
}